@charset "utf-8";
/* CSS Document */
/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {
	clear:both;
}
.alignleft {
	float: left;
	margin:0 20px 20px 0px;
}
.alignright {
	float:right;
	margin:0 0 20px 20px;
}
.txtleft {
	text-align:left
}
.txtcenter {
	text-align:center!important;
}
/* #Basic Styles
================================================== */
html,body {margin:0 auto; padding:0; height:100%; }
body {
	background:#fff;
	font-size:12px;
	color: #222;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	font-family: 'Raleway', sans-serif;
}
/* #Typography
================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
em {
	font-style: italic
}
strong {
	font-weight: 700;
}
/*    Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020"
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
/* #Links
================================================== */

a, a:visited {
	text-decoration: none;
	outline: 0;/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}
a:hover, a:focus {
	text-decoration: none;
	outline:none;
}
img:hover { outline:none;}
p a, p a:visited {
	line-height: inherit
}
/* #Lists
================================================== */
ul, ol {
	margin:0
}
ul {
	list-style: none outside
}
ol {
	list-style: decimal
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px
}
ul.square {
	list-style: square outside
}
ul.circle {
	list-style: circle outside
}
ul.disc {
	list-style: disc outside
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin: 0;
	padding:0;
}
li {
	line-height: 18px;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, ::-moz-focus-inner {
border: 0;
padding: 0;
}

/* custom css */
#wrapper { margin:0 auto; padding:0; position:relative;height:auto !important; height:100%; min-height:100%;}

.banner-container {margin: 97px 0 0 0;padding: 0;position: relative;}
.fluid_container { margin: 0 auto; max-width: 100%; width: 100%; }
.banner-container .camera_caption > div { background-color:transparent!important;}
.banner-container .camera_caption { width:100%; top:36%; left:auto; right:auto;}

.banner-container .camera_caption h3 { margin:0; padding:10px 0; color:#fff; font-size:16px; text-transform:uppercase;}
.banner-container .camera_caption h2{ margin:0; padding:10px 0; color:#fff; font-size:24px; text-transform:uppercase; font-weight:700; line-height:32px;}
.banner-container .camera_caption p{ margin:0; padding:10px 0; color:#d4d4d4; font-size:16px; line-height:24px;}

/*===== banner - changes ======*/

.banner-container .banner-div { margin:0; padding:0; position:relative; }
.banner-container .banner-div .banner-caption{margin:0 auto; padding:0; position:absolute;z-index:1;top:35%;width:100%;}
.banner-caption h2{ margin:25px 0; padding:0;font-size:65px; color:#fff; font-weight:900; text-align:center; text-transform:capitalize;letter-spacing:6px;}
.banner-caption p {margin: 0;padding: 0 25%;font-size: 20px;color: #fff;text-align: center;line-height: 35px;font-weight: 600;letter-spacing: 1px;} 
.breadcrumb-p {display:inline-block;margin: 0;padding: 30% 0% 0 0;font-size: 16px;color: #fff;text-align: left;line-height: 35px;font-weight: 600;letter-spacing: 1px;} 
.gt-span{ padding:0 10px;font-size: 16px;color: #fff;text-align: left;line-height: 35px;font-weight: 600;letter-spacing: 1px;}

/* find */

.find_div{	margin: 20px auto;padding: 10px;position: relative;background: #000;font-size: 16px;border-radius: 20px;}
.round-black{padding: 10px 0;border-right:1px solid rgba(255, 255, 255, 0.349);}
.round-black-1{width:100%;padding: 10px 0;border-right:1px solid rgba(255, 255, 255, 0.349);}
.round-black-1 a{text-align: left!important;}
.round-black-1 i{float: right;padding: 0px 20px 0 0;}
.link-1{color: #fff;font-weight: 600!important;}
.link-1:hover{color: #fff;font-weight: 600;}

.input-1{width: 95%;background-color: transparent;border: none;color: #fff;outline:none;}
.input-2{width: 80%;background-color: transparent;border: none;color: #fff;outline:none;}

.btn.btn-transparent{background-color:transparent;color: #fff;padding: 8px 0px!important;font-weight: 600;outline: none!important;}
.btn.btn-transparent:hover,.btn.btn-transparent:focus {color: #fff;	text-decoration: none;}
.i-1{color: rgba(255, 255, 255, 0.6)}
.i-2{color: rgba(255, 255, 255, 0.6)}
.pl-2{padding-left: 10px;}

.btn-search {
    display: inline-block;padding: 10px 20px;margin-bottom: 0;font-size: 14px;font-weight: 600;line-height: 1.42857143;text-align: center;border-radius: 24px;background-color: #ce363c;border: none;outline: none;color: #fff;letter-spacing: 1px;	text-transform: capitalize;transition: all .3s ease-in-out;
}
.btn-search:hover,.btn-search:focus {
    background-color: #fff;color: #ce363c;transition: all .3s ease-in-out;
}

.btn-search span.span-1 {
    padding: 10px 0;
}

.img-search{widows: 50%;}

.banner-caption .open>.dropdown-menu {display: block;margin-top: 12px;padding: 5px 0;background: #000;color: #fff;width: 200px;z-index:4000;}
.banner-caption .dropdown-menu>li>a {display: block;padding: 6px 20px;clear: both;font-weight: 400;line-height: 1.42857143;color: #fff;white-space: nowrap;
    font-size: 16px;font-weight: 400;}
.banner-caption .dropdown-menu>li>a:hover,.banner-caption .dropdown-menu>li>a:focus {padding: 6px 25px;color: #fff;font-size: 16px;font-weight: 400;}


/*======*/

.header-div{ margin:0; padding:0px; position:fixed; top:0; left:0; width:100%; z-index:10;border-top:5px solid #ce363c;background-color: #fff;height: 96px; }
.fixed-header {
    background-color: #fff;
    z-index: 100;
    padding-bottom: 15px;
}
.logo-div { margin:0; padding:0; position:absolute; float:left;top:-5px; z-index:15;}
.nav-div { margin:0px 0 0 0; padding:0; position:relative; float:right;}
.nav-div .navbar { margin:0; padding:0; min-height:auto;}
.nav-div .navbar-nav {
    margin: 15px 0;
    padding: 0;
    float: left;
}
.nav-div .navbar-nav > li {padding:0;}
.nav-div .navbar-nav > li > a {margin: 0 20px;padding: 25px 0px 10px 0px;font-size: 14px;font-weight: 600;letter-spacing: 1px;color: #000;text-transform: capitalize;line-height: normal!important;}
.nav-div .navbar-nav > li.active a { color:#000;border-bottom: 2px solid #ca2027;}
.nav-div .navbar-nav > li > a:hover, .nav-div .navbar-nav > li > a:focus { background-color:transparent!important;color:#ca2027;}

.nav-div .navbar-nav > li.active .dropdown-menu { background:#fff!important;}
.nav-div .dropdown-menu > li > a {color:#243182!important; border-bottom:1px solid #ddd!important;font-size:13px; background:#fff!important; padding:10px;}
.nav-div .dropdown-menu > li:last-child > a { border-bottom:0!important;}
.nav-div .dropdown-menu > li > a:focus, .nav-div .dropdown-menu > li > a:hover {background:#e2272e!important; color:#fff!important;}
.nav-div .navbar-nav .collapsible ul.sm-nowrap > li > a {color:#243182; font-size:13px!important; text-transform:none!important;}
.nav-div .navbar-nav > li.active .dropdown-menu > li > a{ color:#243182; font-size:13px!important; text-transform:none!important;}

.logo-img{box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.25);}

.content-area { margin:0px 0 0 0; padding:0; position:relative; z-index:1;}
.block-title-div{ margin:0 0 40px 0; padding:0;}
.block-title-div .line{  margin:0; padding:0; position:relative; background:#e2272e; height:1px; width:15%; }
.block-title-div h2{ margin:20px 0 0 0; padding:0; color:#041e42; font-size:32px; font-weight:700; text-transform:uppercase; letter-spacing:5px;}


.intro-div { margin:0; padding:0 0 40px 0; position:relative; z-index:10;}
.intro-div h3{ margin:70px 0 0 0; padding:0 20px 0 0; color:#041e42; font-size:32px; font-weight:700; text-transform:uppercase; line-height:40px; letter-spacing:2px; background:url(../images/trans-logo.png) center center no-repeat;}
.intro-div p{ margin:0 0 20px 0; padding:0; color:#041e42; font-size:14px; line-height:24px; font-weight:300;}

/* footer div */

.footer-div{ margin:0; padding:60px 0 0 0; position:relative; background:#222222;border-top: 5px solid #ce363c;}
.footer-div .footer-top{ margin:0; padding:0 0 20px 0;}
.footer-div .footer-top h3{ margin:0 0 0px 0; padding:0 0 10px 0;color:#fff; font-size:17px; text-transform:uppercase; font-weight:700;letter-spacing:1px;line-height: 1.6;}
.footer-div .footer-top ul{ margin:0; padding:0; list-style:none;}
.footer-div .footer-top ul li { margin:0; padding:0; color:#707070; font-size:13px;list-style:none; font-weight:600; line-height:24px;}
.footer-div .footer-top ul li a{ color:#707070;font-weight: 600;}
.footer-div .footer-top ul li a:hover { color:#fff; border-bottom:1px solid #fff;}
.footer-div .footer-top p { margin:0; padding:0; color:#707070; font-size:13px; font-weight:600; line-height:24px;}
.footer-div .footer-top p a{ color:#707070;font-weight: 600;}
.footer-div .footer-top p a:hover { color:#fff; border-bottom:1px solid #fff;}
.footer-div .social-icon{margin:20px 0 0 0; padding:0px 0 0 0; position:relative;}
.footer-div .social-icon a:hover { color:#fff; border:0px solid #fff!important;}
.footer-div i.fab {padding: 10px 10px;margin:0 8px 0 0;text-align:center;background: #444444;width: 31px;height: 31px;border-radius: 24px;color: #fff;border: none;font-weight: 400;transition: all .3s ease-in-out;}
.footer-div i.fab:hover {background: #fff;color: #444444;}
.footer-div .white-line{margin: 0px 0 25px 0;padding: 0;position: relative;background: #fff;height: 1px;width: 55%;border-radius: 50em;}
.footer-div .footer-btm{ margin:0; padding:25px 0;background-color: #0b0b0b;}
.footer-div .footer-btm .copy-txt{ margin:0; padding:0; display:inline-block; float:left;color:#707070; font-size:13px; font-weight:600;}
.footer-div .footer-btm .footer-social{ margin:0; padding:0; display:inline-block; text-align:right; float:right;}
.footer-div .footer-btm .footer-social a{ margin:0 0 0 10px; background:#05295a; border-radius:100%; width:40px; height:40px; display:inline-block; color:#fff; font-size:14px; text-align:center; line-height:40px;}
.footer-div .footer-btm .footer-social a:hover { background:#fff; color:#05295a;}

/* end of footer */

/* ============ ======================= =========================== */

/* animated scroll */

  .icon-scroll,
  .icon-scroll:before {position: absolute;left: 50%;}
  .icon-scroll {width: 33px; 	height: 45px; 	margin-left: -20px; 	top: 50%; 	margin-top: -35px; 	box-shadow: inset 0 0 0 1px #fff; 	border-radius: 25px;}
  .icon-scroll:before {
	content: ''; 	width: 8px; 	height: 8px; 	background: #fff; 	margin-left: -4px; 	top: 8px; 	border-radius: 4px; 	-webkit-animation-duration: 1.5s; 			animation-duration: 1.5s; 	-webkit-animation-iteration-count: infinite; 			animation-iteration-count: infinite; 	-webkit-animation-name: scroll; 			animation-name: scroll;
  }
  @-webkit-keyframes scroll {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	  -webkit-transform: translateY(20px);
			  transform: translateY(20px);
	}
  }
  @keyframes scroll {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	  -webkit-transform: translateY(20px);
			  transform: translateY(20px);
	}
  }
  

/* end of animated scroll */



#back-to-top { margin:0; padding:0; position:absolute; left:50%; right:auto; bottom:20px; cursor:pointer;}
#back-to-top span { margin:0; padding:0; position:relative; border-radius:100%; width:40px; height:40px; text-align:center; line-height:40px; color:#05295a; font-size:18px; font-weight:700; background:#fff; display:inline-block;}

.down-arrow-div { margin:0 auto; padding:0; position:absolute; bottom: 75px; left:0; right:0; text-align:center; width:23px; z-index:10; cursor:pointer;}
.down-arrow-div .down-arrow {
    margin: 0 auto;     padding: 0;     display: block;     text-align: center;
}

.inner-banner-container{ margin:0 auto; padding:0; position:relative; background:#041e42 url(../images/inner-header-bg.jpg) no-repeat center center; height:200px;}
.inner-banner-div { margin:100px auto 0 auto; padding:30px 0 40px 0; position:relative; border-top:1px solid #1b3c69;}
.inner-banner-div h3 { margin:0; padding:0; color:#fff; font-size:22px; text-transform:uppercase;}

.company-img-div { margin:0; padding:0; position:absolute; right:0; top:0; width:50%; z-index:1;}
.w-100 { width:100%;}
.products-list-container  { margin: :0; padding:0; position: relative;}

.camera_wrap, .fluid_container { height:770px;}

.accordion-container {
	width: 100%; 	margin: 0 0 20px; 	clear: both;
}
.accordion-toggle {
	position: relative; 	display: block; 	padding: 10px 20px; 	font-size: 14px; 	font-weight: 300; 	background: #999; 	color: #fff; 	text-decoration: none;
}
.accordion-toggle.open {
	background: #333;
	color: #fff;
}
.accordion-toggle:hover {
	background: #666;color: #fff;
}
.accordion-toggle span.toggle-icon {
	position: absolute; 	top: 10px; 	right: 20px; 	font-size:16px;
}
.accordion-content {
	display: none; 	padding: 10px; 	overflow: auto;
}
.accordion-content p {
	margin:0 0 15px 0; padding:0; color:#666; font-size:14px; font-weight:300; line-height:24px;
}
.accordion-content img {
	display: block; 	float: left; 	margin: 0 15px 10px 0; 	max-width: 100%; 	height: auto;
}

	/* media query for mobile */
	@media (max-width: 767px) {
		.content {
			width: auto;
		}
		.accordion-content {
			padding: 10px 0;
			overflow: inherit;
		}
	}

/*Help Box*/

.help-box{
	position:relative;
	background-size:cover; margin:40px 0; padding:0;
}

.help-box:before{
	position:absolute; 	content:''; 	left:0px; 	top:0px; 	width:100%; 	height:100%; 	display:block; 	background-color:rgba(0,0,0,0.30);
}

.help-box .inner{
	position:relative;
	padding:35px 22px;
}

.help-box .inner h2{
	position:relative; 	color:#ffffff; 	font-size:30px; 	font-weight:700; 	line-height:1.3em; 	margin-bottom:25px;
}

.help-box .inner .text{
	position:relative; 	color:#ffffff; 	font-size:14px; 	line-height:1.7em; font-weight:300; 	margin-bottom:20px;
}

.help-box .inner .contact{
	position:relative; 	font-weight:700; 	font-size:16px; 
}
.help-box .inner .contact:hover { color:#fff;}

.general-txt-container { margin:0; padding:0 0 50px 0; position:relative;}

.general-txt-container .general-block-div{ margin:0; padding:0; position:relative;}
.general-txt-container .img-div { margin:0 0 20px 0; padding:0;}
.general-txt-container .desc-div{ margin:0; padding:0;}
.general-txt-container .desc-div h3{ margin:0 0 15px 0; padding:0; color:#041e42; font-size:18px; font-weight:700; text-transform:uppercase;}
.general-txt-container .desc-div p{ margin:0 0 15px 0; padding:0; color:#666; font-size:14px; font-weight:300; line-height:24px;}
.general-txt-container .desc-div .sub-ul { margin: 15px 0; padding: 0; color:#666;font-size: 14px; line-height: 24px; font-weight:300; display: block;}
.general-txt-container .desc-div .sub-ul li{ margin: 0 10px 5px 0; padding: 5px 30px; color:#666;font-size: 14px; line-height: 24px; font-weight:300;
	display: inline-block; border-radius: 42px; border:1px solid #ddd;
}
.general-txt-container .desc-div .sub-ul li a{ color:#041e42;}
.general-txt-container .desc-div .sub-ul li a:hover{ color:#e2272e;}

/* start to middle container */

.nopadding{padding: 0!important;}

/*  ============== our philosophy ==================  */

.our_philosophy_section{margin: 0;padding: 0;position: relative;}
.our_philosophy_div{margin: 0;padding: 100px 0 80px 0;position: relative;}
.our_philosophy_div h2{margin:0; padding:10px 0; color:#2c3e50; font-size:40px; text-transform:uppercase;font-weight: 900;}
.our_philosophy_div .red-line {  margin: 15px auto 50px auto;padding: 0;position: relative;background: #e2272e;height: 5px;width: 95px;border-radius: 50em;}
.our_philosophy_div p{margin:0; padding:10px 0; color:#2c3e50; font-size:24px;font-weight: 600;line-height: 1.4;}
.our_philosophy_div p.italic{font-style: italic;}
.our_philosophy_div .middle-center{padding: 0 90px;}

/*  ============== end of our philosophy ==================  */

/*  ============== who we are ==================  */

.who_we_are_section{margin: 0;padding: 0;position: relative; height: 700px;}
.who_we_are_section .whoweare-img{margin: 0;padding: 0;position:absolute; float:left; left:0; top:0; width: 50%; height: 700px; z-index: 11;}
.who_we_are_section .whoweare-img img{ width: 100%; height:100%;}
.who_we_are_section .thinking-img{margin: 0;padding: 0;position:absolute; float:right; right:0; top:0; width: 50%; height: 700px; z-index: 11;}
.who_we_are_section .thinking-img img{ width: 100%; height:100%; }

.who_we_are_div{margin: 0;padding: 0px 0 0px 0;position: relative;background-color: #333; z-index: 10;height: 700px;}
.who_we_are_div .right-div{margin: 0;padding: 70px 80px 0px 80px;background-color: #333;color: #fff;}
.who_we_are_div .right-div h2{margin:0; padding:10px 00px; color:#fff; font-size:40px; text-transform:uppercase;font-weight: 900;}
.who_we_are_div .right-div .red-line-left {  margin: 15px 0 50px 0;padding: 0;position: relative;background: #e2272e;height: 5px;width: 95px;border-radius: 50em;}
.who_we_are_div .right-div .content-right{ padding: 0 0 30px 0; }
.who_we_are_div .right-div p{margin:0; padding:10px 0; color:#ccc; font-size:18px;font-weight: 600;line-height: 1.4;}
.who_we_are_div .right-div p.italic{font-style: italic;}

.btn-readmore {  display: inline-block;padding: 12px 20px;font-size: 16px;font-weight: 600;line-height: 1.4;text-align: center;border: 1px solid transparent;border-radius: 24px;letter-spacing: 1px;background-color: #ca2027;transition: all .3s ease-in-out;}
.btn-readmore:hover{  display: block;padding: 12px 20px;font-size: 16px;font-weight: 600;line-height: 1.4;text-align: center;border: 1px solid transparent;border-radius: 24px;letter-spacing: 1px;background-color: #fff;color: #ca2027;}

/*  ============== who we are ==================  */

/*  ============== what_we_do ==================  */

.what_we_do_section{margin: 0;padding: 0;position: relative;}
.what_we_do_div{margin: 0;padding: 100px 0 100px 0;position: relative;background-color: #ca2027;}
.what_we_do_div h2{margin:0; padding:10px 00px; color:#fff; font-size:40px; text-transform:uppercase;font-weight: 900;}
.what_we_do_div .red-line{  margin: 15px auto 50px auto;padding: 0;position: relative;background: #fff;height: 5px;width: 95px;border-radius: 50em;}
.what_we_do_div .content-right{ padding: 0 0 30px 0; }
.card-div{margin: 0;padding: 0;position: relative;}
.what_we_do_div .card-div h3{margin:0; padding:10px 0px; color:#fff; font-size:20px; text-transform:uppercase;font-weight: 600;text-align: left;}
.what_we_do_div .card-div p {margin: 0;padding: 10px 0px 20px 0px;color: #e5e5e5;font-size: 16px;text-transform: capitalize;font-weight: 400;text-align: left;line-height: 1.6;}
.btn-readmore-white {  display: block;padding: 12px 20px;font-size: 16px;font-weight: 600;line-height: 1.4;text-align: center;border: 1px solid transparent;border-radius: 24px;letter-spacing: 1px;background-color: #fff;color: #ca2027;transition: all .3s ease-in-out;}
.btn-readmore-white:hover { display: block;padding: 12px 20px;font-size: 16px;font-weight: 600;line-height: 1.4;text-align: center;border: 1px solid transparent;border-radius: 24px;letter-spacing: 1px;border:1px solid #fff;color: #fff;background-color: transparent;}
.what_we_do_div .border-lr{border-left:1px solid rgba(255, 255, 255, 0.2);border-right:1px solid rgba(255, 255, 255, 0.2); }

/*  ============== what_we_do ==================  */

/*  ============== our philosophy ==================  */

.our_portfolio_section{margin: 0;padding: 0;position: relative;}
.our_portfolio_div{margin: 0;padding: 100px 0 80px 0;position: relative;}
.our_portfolio_div h2{margin:0; padding:10px 0; color:#000; font-size:40px; text-transform:uppercase;font-weight: 900;}
.our_portfolio_div .red-line {  margin: 15px 0 50px 0;padding: 0;position: relative;background: #ca2027;height: 5px;width: 95px;border-radius: 50em;}
.our_portfolio_div .img-bottom-20{margin: 0 0 30px 0;}
.our_portfolio_div .btn-view-center {  display: inline-block;padding: 12px 20px;font-size: 16px;font-weight: 600;line-height: 1.4;text-align: center;border: 1px solid transparent;border-radius: 24px;letter-spacing: 1px;background-color: #ca2027;transition: all .3s ease-in-out;color: #fff;}

/*  ============== end of our philosophy ==================  */

/*  ============== Blog ==================  */

.latest_blog_section{margin: 0;padding: 0;position: relative;}
.latest_blog_div{margin: 0;padding: 0px 0 0px 0;position: relative;background-color: transparent;}
.latest_blog_div h2{margin:0; padding:10px 0; color:#000; font-size:40px; text-transform:uppercase;font-weight: 900;}
.latest_blog_div .red-line {  margin: 15px 0 50px 0;padding: 0;position: relative;background: #ca2027;height: 5px;width: 95px;border-radius: 50em;}
.latest_blog_div .img-bottom-20{margin: 0 0 30px 0;}
.latest_blog_div .btn-view-center { display: inline-block;padding: 12px 20px;font-size: 16px;font-weight: 600;line-height: 1.4;text-align: center;border: 1px solid transparent;border-radius: 24px;letter-spacing: 1px;background-color: #ca2027;transition: all .3s ease-in-out;color: #fff;}
.latest_blog_div .red-div {
    margin: 0;     padding: 5px 15px;     position: absolute;     top: 0;     right: 15px;     background-color: #ca2027;     border: 3px solid #fff;
}
.latest_blog_div .red-div p{color:#fff;}
.latest_blog_div .red-div p.bold{font-size:22px;color:#fff;font-weight: 600;text-transform: uppercase;}
.latest_blog_div span{font-weight: 600;}
.latest_blog_div .span-1{ font-size: 15px;color: #666666; }
.latest_blog_div .span-2{ font-size: 15px;color: #ca2027; }
.latest_blog_div .span-3{ font-size: 15px;color: #666666; }
.latest_blog_div .span-4 {font-size: 18px;color: #333333;font-weight: 900;line-height: 1.6;padding: 15px 0 0 0;display: block;}
.latest_blog_div .span-5 {	font-size: 13px;color: #666666;line-height: 1.6;position: relative;display: block;padding: 15px 0px!important;min-height: 100px;max-height: 200px;}
.latest_blog_div .span-6{ font-size: 15px;color: #ca2027;text-transform: uppercase;margin:20px 0 35px 0;display:block;}

.camera_wrap .camera_pag .camera_pag_ul {
    list-style: none;     margin: 0 auto!important;     padding: 0;     width: 100%;     text-align: center!important;     position: absolute;     top: 75%; 
}

.camera_wrap .camera_pag .camera_pag_ul li:hover > span {
    background: #ca2027!important;
}
.camera_wrap .camera_pag .camera_pag_ul li {
    background: #fff!important;
}
.camera_wrap .camera_pag .camera_pag_ul li:hover {
    background: #ca2027!important;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent {
    background: #ca2027!important;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
    background: transparent!important;
}

.camera_wrap .camera_pag .camera_pag_ul li {
    -webkit-border-radius: 8px!important;     -moz-border-radius: 8px!important;     border-radius: 8px!important;     height: 8px!important;     margin: 20px 5px!important;     width: 8px!important; 
}

.camera_wrap .camera_pag .camera_pag_ul li > span {
   display:none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #fff;
font-size:14px;
}
::-moz-placeholder { /* Firefox 19+ */
color: #fff;
font-size:14px;
}
:-ms-input-placeholder { /* IE 10+ */
color: #fff;
font-size:14px;
}
:-moz-placeholder { /* Firefox 18- */
color: #fff;
font-size:14px;
}

/*  ============== end of Blog ==================  */


/* end of middle container */


.our_portfolio_blk { margin:0; padding:0; position:relative; background:#ca2027;z-index:10;}
/*.our_portfolio_blk:hover img{ opacity:0.5}*/
.our_portfolio_blk:hover .overlay{opacity: 1;z-index:11;}
.our_portfolio_blk .overlay { position:absolute; top:0; left:0; height:100%; width:100%; text-align:center; background: rgba(202,32,39,0.7);  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;}
.our_portfolio_blk .overlay i {text-align:center; color:#fff; font-size:32px; position:relative; top:40%; opacity:1;}

/*==============================================================================================================================================*/

/* start of what we do innerPage */

.fluid_container-all{
	background-image: url(../images/banner-1.jpg);     height: 400px;     background-position: top center;     background-repeat: no-repeat;     background-size: cover; 
}

/*  ============== pms-3-section ==================  */

.pms-3-section{margin: 0;padding: 0;position: relative;}
.pms-3_div{margin: 0;padding: 85px 0 60px 0;position: relative;background-color: #e9e9e9;}
.pms-3_div h2{margin:0; padding:10px 00px; color:#fff; font-size:40px; text-transform:uppercase;font-weight: 900;}
.pms-3_div .red-line{  margin: 0px 0 10px 0;padding: 0;position: relative;background: #ca2027;height: 5px;width: 55px;border-radius: 50em;}
.pms-3_div .content-right{ padding: 0 0 30px 0; }
.card-div{margin: 0;padding: 0;position: relative;}
.pms-3_div .card-div h3{margin:0; padding:15px 0px 15px 0; color:#2c3e50; font-size:20px; text-transform:uppercase;font-weight: 600;text-align: left;}
.pms-3_div .card-div h4{margin:0; padding:20px 0px 20px 0; color:#2c3e50; font-size:16px; text-transform:uppercase;font-weight: 600;text-align: left;line-height:1.6;}
.pms-3_div .card-div p {margin: 0;padding: 10px 0px 20px 0px;color: #2c3e50;font-size: 16px;text-transform: normal;font-weight: 400;text-align: left;line-height: 1.5;}
.pms-3_div .p-group-div {min-height:310px;margin:0;padding:0;}
.pms-3_div .btn-readmore-red {  display: block;padding: 12px 20px;font-size: 16px;font-weight: 600;line-height: 1.4;text-align: center;border: 1px solid transparent;border-radius: 24px;letter-spacing: 1px;background-color: #ca2027;color: #fff;transition: all .3s ease-in-out;}
.pms-3_div .btn-readmore-red:hover { display: block;padding: 12px 20px;font-size: 16px;font-weight: 600;line-height: 1.4;text-align: center;border: 1px solid transparent;border-radius: 24px;letter-spacing: 1px;border:1px solid #fff;color: #ca2027;background-color: #fff;}

/*  ============== pms-3-section ==================  */

/*  ============== property_section ==================  */

.property_section{margin: 0;padding: 0;position: relative;}
.property_div{margin: 0;padding: 80px 0 80px 0;position: relative;}
.property_div h2{margin:0; padding:10px 0; color:#2c3e50; font-size:40px; text-transform:uppercase;font-weight: 900;}
.property_div .red-line {  margin: 15px auto 50px auto;padding: 0;position: relative;background: #e2272e;height: 5px;width: 95px;border-radius: 50em;}
.property_div p{margin:0; padding:15px 0; color:#2c3e50; font-size:24px;font-weight: 400;line-height: 1.4;}
.property_div p.italic{font-style: italic;}
.property_div .middle-center{padding: 0 90px;}
.property_div h3 {
    margin: -5px 0 0 0;     padding: 10px 0px 20px 0px;     color: #222;     font-size: 18px;     text-transform: capitalize;     font-weight: 700;     letter-spacing: 1px;     text-transform: uppercase;
}
.red-color-h3{color: #ca2027!important;}

.property_section span.dot + span:before {
    content: '';     background: #ca2027!important;     height: 5px;     width: 5px;     border-radius: 50%;     display: inline-block;     vertical-align: middle;     margin: 0 30px 0 5px;
}

.property_div h3 span {
    padding: 0 10px;
}

.property_div h3 span i.f-14{padding:0 25px;font-size:14px;}
ul.list-ul-li {
    padding-left: 20px;
    list-style: disc;
}
ul.list-ul-li li{font-size: 18px;margin: 0;padding: 0 0 0px 10px;color: #ccc;font-size: 18px; font-weight: 600;line-height: 1.6;list-style: disc; }

ul.list-ul-li-1 {
    padding-left: 20px;
    list-style: disc;
}
ul.list-ul-li-1 li{font-size: 18px;margin: 0;padding: 0 0 10px 10px;color: #ccc;font-size: 18px; font-weight: 600;line-height: 1.6;list-style: disc; }

/*  ============== end of property_section ==================  */

/*  ============== completely-manage-section ==================  */

.completely-manage-section{margin: 0;padding: 0;position: relative;}
.completely-manage_div{margin: 0;padding: 85px 0 60px 0;position: relative;background-color: #e9e9e9;}
.completely-manage_div h3{margin:0; padding:10px 0px 70px 0; color:#191919; font-size:26px; text-transform:uppercase;font-weight: 700;letter-spacing:1px;}

.completely-manage_div .red-line{  margin: 0px 0 10px 0;padding: 0;position: relative;background: #ca2027;height: 5px;width: 55px;border-radius: 50em;}
.completely-manage_div .content-right{ padding: 0 0 30px 0; }
.card-div{margin: 0;padding: 0;position: relative;}
.completely-manage_div .card-div h4{margin:0; padding:0px 0px 10px 0; color:#000; font-size:20px; text-transform:capitalize;font-weight: 600;text-align: left;line-height:1.4;}
.completely-manage_div .card-div p {margin: 0;padding: 10px 0px 20px 0px;color: #6c6c6c;font-size: 16px;text-transform: normal;font-weight: 400;text-align: left;line-height: 1.5;}
.completely-manage_div .p-group-div {min-height:250px;margin:0;padding:0;}
.completely-manage_div .p-group-div-1 {min-height:180px;margin:0;padding:0;}
.completely-manage_div .btn-readmore-red {  display: block;padding: 12px 20px;font-size: 16px;font-weight: 600;line-height: 1.4;text-align: center;border: 1px solid transparent;border-radius: 24px;letter-spacing: 1px;background-color: #ca2027;color: #fff;transition: all .3s ease-in-out;}
.completely-manage_div .btn-readmore-red:hover { display: block;padding: 12px 20px;font-size: 16px;font-weight: 600;line-height: 1.4;text-align: center;border: 1px solid transparent;border-radius: 24px;letter-spacing: 1px;border:1px solid #fff;color: #ca2027;background-color: #fff;}
.img-responsive.img-manage{opacity: 1;}
.img-responsive.img-manage:hover{opacity: 0.7;}

/*  ============== completely-manage-section ==================  */

.fw-600{font-weight:600!important;}
.p0{
    padding: 0 0!important;
}

/*  ============== Quote_section ==================  */

.Quote_section{margin: 0;padding: 0;position: relative;}
.Quote_div{margin: 0;padding: 80px 0 80px 0;position: relative;background-color:#ca2027;}
/* .Quote_div{margin: 0;padding: 80px 0 80px 0;position: relative;background-color:#ca2027;background-image: url(../images/Quote.png);background-position: top left;background-repeat: no-repeat;background-size: auto;}
 */
.Quote_div .img-quote {     margin: 0;     padding: 0;     position: absolute;     left: 10px;     top: -60px; }
.Quote_div p{margin:0; padding:15px 0; color:#fff; font-size:24px;font-weight: 400;line-height: 1.6;}
.Quote_div p.italic{font-style: italic;}
.Quote_div .middle-center{padding: 0 50px;}

.bg-ee{background-color:#e9e9e9!important;}
.color-2c3e50{color:#2c3e50!important;}

/*  ============== end of property_section ==================  */

.dot{padding: 0!important;}

/* end of what we do innerPage*/


/*****  Blog  ********/

#blog-section{
	margin:0;padding: 0;background-color: #fff;
}
#blog-section .middle-center p.p-blog{
	margin:0;padding: 10px 0;font-size: 16px;font-weight: 600;text-align: left;line-height: 1.4;white-space: wrap;
}
#blog-section .middle-center h3.h3-blog{
	margin:0;padding: 20px 0 0 0;font-size: 18px;font-weight: 700;text-align: left;line-height: 1.4;
}
#blog-section .middle-center p.p-top-blog{
	margin:0;padding: 20px 0 0;font-size: 16px;font-weight: 600;text-align: right;line-height: 1.4;color: #222;
}

.top-head{ margin: 0px 0;padding: 12% 0 20px 0;text-align: center;}
.top-head h1 {
    margin: 0;     padding: 20px 0 0 0;     font-size: 50px;     font-weight: 900;     color: #fff; 	letter-spacing: 5px; 	text-transform: uppercase;
}

.breadcrumb-div{padding: 40px 0 0 0;margin: 0;display: inline-block;}
.breadcrumb-div p{display: inline-block;margin: 0;padding: 0% 0% 0 0;font-size: 16px;color: #fff;text-align: left;line-height: 35px;font-weight: 600;letter-spacing: 1px;}
.breadcrumb-div a{padding: 0;margin: 0;font-size: 14px;}

.white-line-1 {
    margin: 15px auto 50px auto;     padding: 0;     position: relative;     background: #fff;     height: 5px;     width: 95px;     border-radius: 50em;
}

/*** left content **/

.blogs .blog-content {
    padding: 30px;     background: rgba(237, 237, 237, 0.4);     position: relative;     z-index: 1;     border-bottom-left-radius: 5px;     border-bottom-right-radius: 5px;
}
.blogs .blog-content {
    padding: 30px;     background: rgba(237, 237, 237, 0.4);     position: relative;     z-index: 1;     border-bottom-left-radius: 5px;     border-bottom-right-radius: 5px;
}
.blogs .blog-content:after {
    content: "";     background: #fff;     position: absolute;     top: 0;     left: 2px;     right: 2px;     bottom: 2px;     display: block;     z-index: -1;     border-bottom-left-radius: 5px;     border-bottom-right-radius: 5px;
}
.blogs .blog-content .media {
    overflow: visible;
}
.blogs .blog-content .media-left {
    padding-right: 30px;
}
.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: top;
}
.media-left, .media>.pull-left {
    padding-right: 10px;
}
.media:first-child {
    margin-top: 0;
}
.media, .media-body {
    zoom: 1;
    overflow: hidden;
}
.blogs .blog-content .media-left .post-date {
    font: 700 18px/24px "Raleway", sans-serif;     letter-spacing: 0.25px;     color: #fff;     border-radius: 5px;     background: #ca2027;     text-align: center; 	width: 68px; 	height: 70px;     display: block;     padding-top: 10px; 	margin-top: -50px; 	letter-spacing: 2px;
}
.blogs .blog-content .media-left .post-date span {
    display: block; 	text-transform: capitalize; 	font-weight: 700; 	letter-spacing: 2px;
}
.blogs .blog-content p {
    font: 400 14px/30px "Open Sans", sans-serif;     letter-spacing: 0.50px;     padding-top: 24px;     padding-bottom: 14px;
}
.blogs .blog-content .media-body {
    display: block;     width: auto;     padding-top: 30px;
}
.media, .media-body {
    zoom: 1;
    overflow: hidden;
}
.blogs .blog-content .media-body h2 {
    font: 700 32px "Raleway", sans-serif;     letter-spacing: 0.25px;     padding-top: 8px;
}
.blogs .blog-content .media-body h2 a {
    color: #282828;     -webkit-transition: all 300ms linear 0s;     -o-transition: all 300ms linear 0s;     transition: all 300ms linear 0s;     -webkit-transition-duration: 0.9s;     -o-transition-duration: 0.9s;     transition-duration: 0.9s;
}
.blogs .blog-content .media-body .post-meta {
    padding-top: 12px;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.blogs .blog-content .media-body .post-meta li {
    display: inline-block;     font: 400 12px/24px "Open Sans", sans-serif;     letter-spacing: 0.50px;     margin-right: 18px;     -webkit-transition: all 300ms linear 0s;     -o-transition: all 300ms linear 0s;     transition: all 300ms linear 0s;     -webkit-transition-duration: 0.9s;     -o-transition-duration: 0.9s;     transition-duration: 0.9s;
}
.nav>li {
    position: relative;
    display: block;
}
.blogs .blog-content .media-body .post-meta li i {
    color: #bebebe;     margin-right: 12px;     -webkit-transition: all 300ms linear 0s;     -o-transition: all 300ms linear 0s;     transition: all 300ms linear 0s;     -webkit-transition-duration: 0.9s;     -o-transition-duration: 0.9s;     transition-duration: 0.9s;
}
.blogs .blog-content .media-body .post-meta li a {
    color: #282828;     padding: 5px;     margin: 0 2px;     display: inline-block;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.btn-more-red-link {
    display: inline-block; 	padding: 10px 20px; 	width: 170px;     background-color: #ca2027;     color: #fff;     font-size: 14px;     letter-spacing: 2px;     font-weight: 600;     text-transform: capitalize;     line-height: 1.42857143;     text-align: center;     border-radius: 4px; 	border:1px solid transparent; 	transition: all 300ms linear 0s;     transition-duration: 0.5s;
}
.btn-more-red-link:hover {
    background-color: #fff;
	color: #ca2027;
	border:1px solid #ca2027;
}
.mt-50{margin-top:50px;}
/*** end of left content **/

/*** right content  **/

.blog-sidebar{margin:0;padding: 0;}
.Recent_Posts{margin:0;padding: 0;}

.Recent_Posts .m-b-50 {
    margin-bottom: 50px;
}
.Recent_Posts .p-50 {
    padding: 25px 20px 30px 20px;
}
.sidebar-widget {
	background: #fff;
	border: 1px solid #eee;
}
.top-line {
    position: relative;
}
.top-line:before {
    content: '';
    position: absolute;
    top: 0;
    width: 50px;
    height: 7px;
    background: #ca2027;
}
.top-line:before {
    content: '';
    position: absolute;
    top: 0;
    width: 50px;
    height: 7px;
	background: #ca2027;
	
}

.sidebar-title {
    font-size: 17px;
    margin: -10px 0 30px;
}
.sidebar-search {
    position: relative;
}
.sidebar-search .form-control {
    border: 2px solid #fec952;
    padding-right: 45px;
}

.Recent_Posts .form-control {
    background: #fff;     padding: 4px 10px;     height: 50px;     line-height: 1.55;     border: 1px solid #ca2027;     color: #ca2027;     width: 100%;     letter-spacing: 1px;     font-size: 15px;     -moz-transition: border-color 200ms ease-in;     -webkit-transition: border-color 200ms ease-in;     transition: border-color 200ms ease-in;     border-radius: 4px;     box-shadow: none; 	text-overflow: ellipsis; 	-webkit-appearance: none;     -moz-appearance: none;     -ms-appearance: none;     appearance: none;
}

.Recent_Posts .btn-search {
    padding: 0;     background: none;     position: absolute;     box-shadow: none;     outline: none;     font-size: 18px;     border: 0;     line-height: 1;     color: #ca2027;     top: 15px;     right: 15px;
}
.Recent_Posts input[type="button"], input[type="submit"], button, table th, table td {
    -webkit-transition: background-color 300ms cubic-bezier(0.77,0,0.175,1), color 300ms cubic-bezier(0.77,0,0.175,1);
    transition: background-color 300ms cubic-bezier(0.77,0,0.175,1), color 300ms cubic-bezier(0.77,0,0.175,1);
}
.Recent_Posts .form-control:focus {
    border-color: #999!important;
    outline: 0!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.00), 0 0 8px rgba(102,175,233,.0)!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.00), 0 0 8px rgba(102,175,233,.0)!important;
}

.sidebar-widget .list {
    border-bottom: 0;
}
.Recent_Posts ul.list {
    list-style: none;
}
.Recent_Posts .text-uppercase {
    text-transform: uppercase;
}
.Recent_Posts .text-md {
    font-size: 12px;
}
.Recent_Posts .list-style-01 {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #ededed;
}
.Recent_Posts .list {
    margin: 0;
    padding: 0;
}
.Recent_Posts .sidebar-widget .list-style-01 li:first-child {
    border: 0;
}
.Recent_Posts .sidebar-widget .list{border-bottom: 0;}
.Recent_Posts .sidebar-widget .list-style-01 li {
    padding: 12px 30px 12px 0;
}
.Recent_Posts .list-style-01 li {
    position: relative;     border-top: 1px solid #ededed;     padding: 15px 0;
}
.Recent_Posts .list-style-01 li a {
	color: #222; 	font-size: 12px; 	font-weight: 400; 	letter-spacing: 1px; 	transition: all 300ms ease;
}
.Recent_Posts .list .number {
    position: absolute;     right: 0; 	top: 11px; 	font-size: 12px; 	font-weight: 400; 	letter-spacing: 1px;
}
.Recent_Posts .sidebar-widget .list-style-01 li:first-child {
    border: 0;
}

.post-list{margin:0;padding: 0;}
.post-list .re-info {
    padding-bottom: 13px;
}
.post-list .media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: top;
}
.post-list .media-left, .media>.pull-left {
    padding-right: 0px!important;
}
.post-list .sidebar-section .widget-recent-n .re-info .media-body {
    vertical-align: middle;
    padding-left: 12px;
}
.post-list .media-left{
    display: table-cell;
    vertical-align: top;
}

.post-list .media-body {
    zoom: 1;
    overflow: hidden;
}
.post-list h5 {
    font: 700 14px/24px;     letter-spacing: 0.50px;     -webkit-transition: all 300ms linear 0s;     -o-transition: all 300ms linear 0s;     transition: all 300ms linear 0s;     color: #282828;
}
.post-list a h5 {
    display: inline-block;     font-size: 12px;     color: #aaaaaa;     font-style: italic;     font-weight: 400;     padding-right: 10px;
}
.post-list .re-info a h5 i {
    padding-right: 5px;
}
.post-list h5{font-size: 12px!important;font-weight: 600;}
.post-list h5 a{ font-size: 12px!important;font-weight: 600;color: #222;}

.post-list i{padding: 5px;}
.post-hero-list {
    padding: 20px 0 10px 0;
}
.border-top{border-top: 1px solid #eee;}

/*** end of right content **/

/* blog details page */

.blockquote-custom {
	background: #f7f7f7; 	position: relative; 	font-size: 14px; 	font-style: italic; 	color: #3e3e3e; 	border: 0; 	padding: 35px 35px 25px 110px; 	margin: 10px 0 00px;
}
.blockquote-custom .quote-icon {
	position: absolute; 	left: 28px; 	font-size: 56px; 	color: #fec952; 	line-height: 1; 	margin-top: -12px;
}
.blockquote-custom p {
	margin-bottom: 15px;
}
.blockquote-custom footer {
	font-style: italic; 	font-weight: bold; 	font-size: 14px; 	color: #3e3e3e;
}
.left-bar:before {
	content: ''; 	display: inline-block; 	width: 25px; 	height: 2px; 	background: #fec952; 	vertical-align: middle; 	margin: -4px 8px 0 0;
}
.blog-details p{    
	padding-top: 14px!important;
	padding-bottom: 0px!important;
}

body .m-tb-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}
body .border-top-bottom {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

body .tags-row {
    padding: 20px 0;
}

.m-t-5 {
    margin-top: 5px;
}
body .font-weight-600 {
    font-weight: 600;
}

body .text-uppercase {
    text-transform: uppercase;
}

.tagcloud a {
    font-style: italic;     font-size: 14px;     color: #3e3e3e;     margin-right: 3px;
}
.tags-div .font-weight-600 {
    font-weight: 600;
}

.tags-div .share-post {
    float: right;     background: #f4f4f4;     border-radius: 50px;     padding: 6px 23px;
}

.tags-div .text-black {
    color: #000;
}
.tags-div .font-weight-600 {
    font-weight: 600;
}
.tags-div .text-uppercase {
    text-transform: uppercase;
}
.tags-div .text-md {
    font-size: 12px;
}

.tags-div ul.list {
    list-style: none;
    padding: 5px 0;
}
.tags-div .text-lg {
    font-size: 18px;
}
.tags-div .list {
    margin: 0;
    padding: 0;
}
.tags-div .share-post {
    float: right;     background: #f4f4f4;     border-radius: 50px;     padding: 6px 23px;
}
.tags-div .v-align-middle {
    vertical-align: middle;
    display: inline-block;
}

.tags-div .share-post ul li {
    float: left;
    margin: 0 0 0 12px;
}
.tags-div .share-post ul li a {
    display: block;
    color: #4c4c4c;
}
.m-t-10{margin-top: 10px;}
.m-t-15{margin-top: 15px;}

/* admin - comment */

body .m-b-50 {
    margin-bottom: 50px;
}
body .p-40 {
    padding: 40px;
}
.author-box {
    background: #f7f7f7;
}
.author-box img {
    float: left;
    margin-right: 30px;
}
.img-bordered {
    background: #fff;
    padding: 5px;
	border: 1px solid #e4e4e4;
	width: 150px;
}
.author-details {
    overflow: hidden;
    font-size: 13px;
}
body .text-uppercase {
    text-transform: uppercase;
}
.author-name {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.last-p-no-margin p:last-of-type {
    margin-bottom: 0;
}
.last-p-no-margin p:last-child {
	margin: 0;
	font-weight: 600;
	padding: 0px;
	line-height: 1.6;
}

/* post-comment */

.post-comment {
    margin: 0;     padding: 35px 0 0 0;     position: relative;     display: block;     border-top: 1px solid #eee;
}
.post-comment .form-control {
    border-color: #e9e9e9;     -webkit-box-shadow: none;     box-shadow: none;     outline: none;     height: auto;     line-height: 26px;     margin-bottom: 20px;
}
.post-comment label{padding: 10px 0;margin: 0;color: #222;font-weight: 400;font-size: 14px;letter-spacing: 1px;}
.post-comment textarea{resize: none;}
/* end of post-comment */
/* end of admin - comment */
/* comment */
.post-comment-btn{
    display: inline-block; 	padding: 10px 20px; 	width: auto;     background-color: #ca2027;     color: #fff;     font-size: 14px;     letter-spacing: 2px;     font-weight: 600;     text-transform: capitalize;     line-height: 1.42857143;     text-align: center;     border-radius: 4px; 	border:1px solid transparent; 	transition: all 300ms linear 0s;     transition-duration: 0.5s;

}
.post-comment-btn:hover {
    background-color: #fff;
	color: #ca2027;
	border:1px solid #ca2027;
}

.date-reply {
    padding: 8px 0px 10px 0px;
}
.date-reply li {
    display: inline-block;
}
.date-reply li a {
    padding: 0;
    color: #aaa;
    font-size: 12px;
}
.comment{margin: 0;padding: 0;}
.comment .comment-div {
    margin: 0;
    padding: 25px 10px;
    border: 1px solid #eee;
}
.comment .comment-div h4{margin: 0;padding: 0;}
.comment .comment-div .pa-date{margin: 0;padding: 10px 0 0 0!important;}
.comment .comment-div p{margin: 0;padding: 10px 0 0px 0!important;}
.line-comment{padding: 15px 0 0 0;}

/* comment */


/* end of blog setails page */

/****** End Blog Page  *******/


/*  ============== contact_section ==================  */

.contact_section{margin: 0;padding: 0;position: relative;background-color: #fff!important;}
.contact_div{margin: 0;padding: 80px 0 0px 0;position: relative;}
.contact_div h2{margin:0; padding:10px 0; color:#2c3e50; font-size:40px; text-transform:uppercase;font-weight: 900;}
.contact_div .red-line {  margin: 15px auto 50px auto;padding: 0;position: relative;background: #e2272e;height: 5px;width: 95px;border-radius: 50em;}
.contact_div p{margin:0; padding:15px 0; color:#2c3e50; font-size:18px;font-weight: 400;line-height: 1.4;}
.contact_div p.italic{font-style: italic;}
.contact_div .middle-center{padding: 0 90px;}
.contact_div h3 {
    margin: -5px 0 0 0;     padding: 10px 0px 20px 0px;     color: #222;     font-size: 18px;     text-transform: capitalize;     font-weight: 700;     letter-spacing: 1px;     text-transform: uppercase;
}

.contact_div h3 span {
    padding: 0 10px;
}

.contact_div h3 span i.f-14{padding:0 25px;font-size:14px;}

.contect-form-div {
    margin: 0;
    padding: 35px 0 0 0;
    position: relative;
    display: block;
}
.contect-form-div .form-control {
    border-color: #e9e9e9;     -webkit-box-shadow: none;     box-shadow: none;     outline: none;     height: auto;     line-height: 26px;     margin-bottom: 20px;
}
.contect-form-div label{padding: 10px 0;margin: 0;color: #222;font-weight: 400;font-size: 14px;letter-spacing: 1px;text-transform: capitalize;}
.contect-form-div textarea{resize: none;}

.contect-form-div .post-comment-btn{
    display: inline-block; 	padding: 10px 20px; 	width: auto;     background-color: #ca2027;     color: #fff;     font-size: 14px;     letter-spacing: 2px;     font-weight: 600;     text-transform: capitalize;     line-height: 1.42857143;     text-align: center;     border-radius: 4px; 	border:1px solid transparent; 	transition: all 300ms linear 0s;     transition-duration: 0.5s;

}
.contect-form-div .post-comment-btn:hover {
    background-color: #fff;
	color: #ca2027;
	border:1px solid #ca2027;
}

.map{width: 100%;height: 400px;}

.mt-50{margin-top:50px;}

/*  ============== end of property_section ==================  */

.visibility-hidden{visibility: hidden!important;}

.contect-form-div .form-control:focus {
    border-color: #e9e9e9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.00), 0 0 8px rgba(102,175,233,.0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.00), 0 0 8px rgba(102,175,233,.0);
}

/*==============================================================================================================================================*/

/****************	portfolio	************************/


.portfolio_main_section{margin:0;padding:0;position:relative;}
.portfolio_main_div{margin:100px 0;padding:0;}

.border-all{ border:1px solid #ebebeb;}

.portfolio_main_div .recent_portfolios{margin:0;padding:20px 10px;}

.portfolio_main_div .recent_portfolios h2 {margin: 0; padding: 10px 00px;     color: #ca2027;     font-size: 24px;     text-transform: uppercase;     font-weight: 900;letter-spacing:2px;text-align:center;}
.portfolio_main_div .red-line {
    margin: 15px auto 40px auto;     padding: 0;     position: relative;     background: #e2272e;     height: 5px;     width: 95px;     border-radius: 50em;
}
.portfolio_main_div .gallery_list{margin:0;padding:0;}

.main-portfolio-content{margin:0;padding:0px 0 20px 0;margin:0 0 0px 0;border-radius:4px;}
/* border:1px solid #ebebeb; */
.top-portfolio{margin:0;padding:0;}
.middle-portfolio{margin:0;padding:20px 20px 0 20px;}
.middle-portfolio h2 {font-weight:700;letter-spacing: 2px;padding:0 0;margin:10px 0px 20px 0;text-transform:uppercase;}
.middle-portfolio p {font: 400 14px/30px "Open Sans", sans-serif;letter-spacing: 1px;padding:0 0;}

.m-10{margin:10px;}

/* The Modal (background) */
.portfolio_main_section .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.portfolio_main_section .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.portfolio_main_section .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.portfolio_main_section .close:hover,
.portfolio_main_section .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.portfolio_main_section .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.portfolio_main_section .modal-body {padding: 2px 16px;}

.portfolio_main_section .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* 	 */

.modal-dialog {
    width: 600px;
    margin: 150px auto!important;
}

.img-100{width:100%;}
/*************	End of portfolio **************************/

.modal-open .modal{
	    z-index: 9999999999;
}


@media only screen and (max-width: 767px){
	html, body { overflow-x:hidden;}
	.container { width:100% !important;}
	
	.canvas { margin:0!important; padding:0!important;}

	.header-div { position: relative;background-color:rgba(4,30,66,10); z-index:100; padding-bottom:15px;}
	.header-div .logo-div img { width:80%;}

	.nav-div { position: absolute; top:10px; right:0; margin: 0; padding: 0;}

	header .navbar-collapse { background: #fff;}
	.navbar-toggle .icon-bar { background:#fff;}
	.navbar-toggle { margin:10px 0 0 0!important; top:-5px;}
	.nav-div .navbar { margin:0; padding:0; width:100%;border: 0px solid transparent;}
	.nav-div .navbar-nav > li > a { padding:10px; color:#243182;}
	.nav-div .navbar-nav > li > a .caret { display:none;}
	.navbar-nav .sub-arrow, .navbar-nav .collapsible .sub-arrow { color:#222; font-weight:normal; font-size:13px;}
	.has-submenu:after {	color: #222!important;content: "\f067";font-family: 'FontAwesome';font-size: 13px!important;position: absolute;font-weight:normal;right: 20px;}
	
	.banner-container .banner-div .banner-caption{top:10%;width:100%;}
	.banner-container .banner-div .banner-caption { margin-top:100px;}
	/* .banner-container .banner-div .banner-caption h2 { font-size:24px;line-height:1.4;} */
	.banner-container .banner-div .banner-caption h2 {
		font-size: 24px;
		line-height: 1.6;
		padding: 0 20px;
	}

	.banner-container .banner-div .banner-caption p {font-size: 14px;line-height: 24px;padding: 0 10px;}
	
	.find_div {	margin: 20px!important;padding: 10px;position: relative;background: rgba(0, 0, 0, 0.8);font-size: 16px;border-radius: 20px;height: 180px;}
	.nopadding-xs{padding:0px!important;}
	
	/* .banner-container .banner-div .banner-caption { margin-top:50px;} */
	/* .banner-container .banner-div .banner-caption h2 { font-size:24px;} */
	/* .banner-container .banner-div .banner-caption p {font-size: 14px;line-height: 24px;padding: 0 10px;} */
	
	.camera_wrap, .fluid_container { height:600px!important;}

	.camera_wrap .camera_pag .camera_pag_ul li {z-index:10;}
	
	.intro-div h3 { font-size: 24px; line-height: 28px; padding: 20px 0;}
	
	.footer-div .footer-top h3 { margin: 20px 0;}
	.footer-div .footer-btm {     padding: 20px 20px 10px 20px;}
	.footer-div .footer-btm .copy-txt { margin-bottom: 10px;}
	#back-to-top { left:10px}
	.inner-banner-container { height:auto ;  background-size: cover;}
	.inner-banner-div { padding: 20px; margin: 0;}
	
	/* banner and header */

	.banner-container {margin: 0px 0 0 0;padding: 0;position: relative;}
	.header-div {	position: relative;background-color: #ce363c;z-index: 100;padding-bottom: 15px;}
	.navbar-header {float: none;padding: 12px;}
	.banner-container .camera_caption {width: 100%;top: 3%;left: auto;right: auto;}
	.round-black {border-right: 1px solid rgba(255, 255, 255, 0);}
	.round-black-1 {border-right: 1px solid rgba(255, 255, 255, 0);padding: 20px 0;}

	/* middle container */

	.our_philosophy_div h2 {
		font-size: 32px;
	}
	.our_philosophy_div .middle-center {
		padding: 0;
	}
	.who_we_are_div .right-div {
		padding: 50px 25px;
	}
	.what_we_do_div .card-div h3 {
		margin: 0;
		padding: 10px 0px;
		color: #fff;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 600;
	}
	.what_we_do_div .border-lr {
		padding: 40px 15px;
		border-left: 1px solid rgba(255, 255, 255, 0.0);
		border-right: 1px solid rgba(255, 255, 255, 0.0);
	}
	.what_we_do_div .card-div h3 {
		text-align: left;
	}

	.who_we_are_section .whoweare-img {
		position: relative;
		float: none;
		top: 0;
		width: 100%;
		height: auto;
	}
	.who_we_are_div .right-div .red-line-left {
		margin: 15px 0 30px 0;
		width: 95px;
	}
	.our_philosophy_div .red-line {
		margin: 15px auto 30px auto;
		width: 95px;
	}
	.what_we_do_div .red-line {
		margin: 15px auto 30px auto;
		width: 95px;
	}
	.camera_wrap .camera_pag .camera_pag_ul {
		position: absolute;
		top: 80%;
	}
	.icon-scroll {
		top: 50%;
		margin-top: 10px;
	}
	.who_we_are_section .thinking-img {
		position: relative;
		float: none;
		top: 0;
		width: 100%;
		height: auto;
	}
	.col-4{
		margin:0 0 30px 0;
		padding:0px 0;
	}
	.latest_blog_div .red-div {
		top: 0;
		right: 15px;
	}
	.footer-div .footer-top h3 {
		margin: 20px 0 0 0;
	}
	.nav-div .navbar-nav > li.active a {
		color: #000;
		background:#fff;
		border-bottom:0px solid #ca2027;
	}
	.navbar-collapse{
		overflow-y: auto;
		margin: 0;
	}
	.nav-div .navbar-nav > li > a {
		padding: 10px;
		color: #000;
	}
	.logo-img {
		box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.25); z-index:99;
	}
	/* end of middle container */
	
	.who_we_are_section, .who_we_are_div { height:auto;}
	
	.nav-div .navbar-nav {    margin: 0;    padding: 70px 0 20px 0;}
	.latest_blog_section {
		margin: 0px 0px;
		background: #eee;
		padding: 15px 0;
		position: relative;
	}
	
	/* changes - 25/5 */
	
	.our_philosophy_div {
		padding: 80px 0px 80px 0px;
	}
	.who_we_are_div .right-div {
		padding: 80px 30px 80px 30px;
	}
	.what_we_do_div {
		padding: 80px 0px 80px 0px;
	}
	.our_portfolio_div {
		padding: 80px 0px 0px 0px;
	}	
	.latest_blog_section {
		margin: 80px 0px 0px 0;
	}
	.latest_blog_div {
		padding: 80px 0px 80px 0px;
	}
	.our_portfolio_div h2 {
		text-align:center;
	}
	.our_portfolio_div .red-line {
		margin: 15px auto 50px auto;
	}
	.latest_blog_div .span-5 {
		line-height: 1.4;
		min-height: auto;
		max-height: 100%;
	}
	
	/********   what we do     ************/

	.fluid_container-all {
		height: 250px;
	}
	.breadcrumb-p {
		padding: 55% 0% 0 0;
	}
	.pms-3_div .card-div h3 {
		font-size: 16px;
	}
	.pms-3_div .card-div p {
		font-size: 14px;
	}
	.pms-3_div .p-group-div {
		min-height: 100%;
	}
	.pms-3_div .card-div {
		margin: 0;
		padding: 10px 0;
		position: relative;
	}
	.property_div h2 {
		font-size: 32px;
	}
	
	.property_div .middle-center {
		padding: 0 0px;
	}
	.dot {
		display: none!important;
	}
	.property_div h3 span {
		padding: 10px 0px;
		display: block;
	}
	.completely-manage_div h3 {
		padding: 10px 0px 50px 0;
		font-size: 21px;
	}
	.Quote_div .middle-center {
		padding: 0 10px;
	}
	.Quote_div p {
		padding: 20px 0;
	}	
	.who_we_are_div .right-div h2 {
		font-size: 32px;
		line-height: 1.4;
	}

	/***********    what we do    ***********/
	
	/***** blog page  ********/

	.top-head {
		margin: 0px 0;
		padding: 75px 0 0px 0!important;
		text-align: center;
	}
	.breadcrumb-div {
		padding: 0px 0 10px 0;
		margin: 0;
		display: block;
	}
	.Recent_Posts {
		margin: 50px 0 0 0;
		padding: 0;
	}

	/***** end of blog page  ********/
	
	/***** blog details page  ********/

	.blockquote-custom .quote-icon {
		left: 20px;
		font-size: 42px;
		margin-top: -12px;
	}
	.blockquote-custom {
		padding: 30px 20px 25px 80px;
		margin: 10px 0 00px;
	}
	.xs-m-t-0{margin-top:0px;}
	.tags-div .share-post {
		float: none;
		border-radius: 0;
		padding: 6px 23px;
		text-align: center;
		padding: 10px 0px;
		margin: 25px 0 0 0;
	}
	.p-40 {
		padding: 20px;
	}
	.author-box img {
		float: none;
		margin-right: 30px;
		display: block;
		margin: 0 0 20px 0;
	}
	.img-bordered {
		background: #fff;
		padding: 2px;
		border: 1px solid #e4e4e4;
		width: 150px;
		margin: 0 0 20px 0;
	}

	/***** end of blog details page  ********/
	
	.property_section span.dot + span:before {
		content: '';
		background: #ca2027!important;
		height: 5px;
		width: 5px;
		border-radius: 50%;
		display: inline-block;
		vertical-align: middle;
		margin: 0 30px 0 5px;
		display: none;
	}

	/* End changes */

	.blogs .blog-content .media-body h2 {
		font: 700 18px "Raleway", sans-serif;
	}

	/* changes */

	.latest_blog_div .img-bottom-20 {
		margin: 0 0 30px 0;
		width: 100%;
	}

	.our_portfolio_div .img-bottom-20 {
		margin: 0 0 30px 0;
		width: 100%;
	}

	/* end of chnages */
	
	.latest_blog_div .span-1 {
		font-size: 14px;
		color: #666666;
		padding: 15px 0px;
		display: inline-block;
	}
	.latest_blog_div .span-6 {
		font-size: 15px;
		color: #ca2027;
		text-transform: uppercase;
		margin: 5px 0 40px 0;
		display: block;
	}
	.latest_blog_div .btn-view-center,.our_portfolio_div .btn-view-center {
		display: block;
		margin: 0 auto;
		width: 50%;
	}
	.top-head h1 {
		font-size: 36px!important;
	}
	
	/* modal */
	
	.modal-open .modal{
	    display: block;
		padding-left: 0px;
		background: #0000;
		position: fixed;
		height: 100%;
		width: 100%;
		overflow-x: hidden;
		overflow-y: hidden!important;
	}
	
	/* .modal-backdrop.fade.in{display:none;} */
	
	/* end of modal*/


}
@media only screen and (min-width: 320px) and (max-width: 480px) {

	

}
@media only screen and (min-width: 480px) and (max-width: 640px) {

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.container { width:100% !important;}
	html, body { overflow-x:hidden;}
	.canvas { margin:0!important; padding:0!important;}

	.header-div { position: relative;background-color:rgba(4,30,66,10); z-index:100; padding-bottom:15px;}
	.header-div .logo-div img { width:80%;}

	.nav-div { position: absolute; top:10px; right:0; margin: 0; padding: 0;}

	header .navbar-collapse { background: #fff;}
	.navbar-toggle .icon-bar { background:#fff;}
	.navbar-toggle { margin:10px 0 0 0!important; top:-5px;}
	.nav-div .navbar { margin:0; padding:0; width:100%;border: 0px solid transparent;}
	.nav-div .navbar-nav > li > a { padding:10px; color:#243182;}
	.nav-div .navbar-nav > li > a .caret { display:none;}
	.navbar-nav .sub-arrow, .navbar-nav .collapsible .sub-arrow { color:#222; font-weight:normal; font-size:13px;}
	.has-submenu:after {	color: #222!important;content: "\f067";font-family: 'FontAwesome';font-size: 13px!important;position: absolute;font-weight:normal;right: 20px;}
	
	/* .banner-container .banner-div .banner-caption { margin-top:0px;} */
	/* .banner-container .banner-div .banner-caption h2 { font-size:40px;} */
	/* .banner-container .banner-div .banner-caption p {font-size: 14px;line-height: 24px;padding: 0 10px;} */
	/* .camera_wrap, .fluid_container { height:600px!important;} */
	
	.banner-container .banner-div .banner-caption{top:33%;width:100%;margin:0 auto;}
	.banner-container .banner-div .banner-caption { margin-top:0px;}
	.banner-container .banner-div .banner-caption h2 { font-size:40px;line-height:1.4;}
	.banner-container .banner-div .banner-caption p {font-size: 14px;line-height: 24px;padding: 0 10px;}
	
	.camera_wrap, .fluid_container { height:600px!important;} 

	.intro-div h3 { font-size: 24px; line-height: 28px; padding: 20px 0;}
	
	.footer-div .footer-top h3 { margin: 20px 0;}
	.footer-div .footer-btm { padding: 20px;}
	.footer-div .footer-btm .copy-txt { margin-bottom: 10px;}
	#back-to-top { left:10px}
	.inner-banner-container { height:auto ;  background-size: cover;}
	.inner-banner-div { padding: 20px; margin: 0;}
	
	/* banner and header */

	.banner-container {margin: 0px 0 0 0;padding: 0;position: relative;}
	.header-div {	position: relative;background-color: #ce363c;z-index: 100;padding-bottom: 15px;}
	.navbar-header {float: none;padding: 12px;}
	.banner-container .camera_caption {width: 100%;top: 30%;left: auto;right: auto;}
	.round-black {border-right: 1px solid rgba(255, 255, 255, 0);}
	.round-black-1 {border-right: 1px solid rgba(255, 255, 255, 0);padding: 10px 0;}

	.find_div {width: 95%!important;margin: 20px;background: rgba(0, 0, 0, 0.8);font-size: 16px;border-radius: 20px;height:60px;}
	.nopadding-xs{padding: 0px!important;}

	/* middle container */

	.our_philosophy_div h2 {
		font-size: 40px;
	}
	.our_philosophy_div .middle-center {
		padding: 0;
	}
	.who_we_are_div .right-div {
		padding: 50px 25px 0 25px;
	}
	.what_we_do_div .card-div h3 {
		margin: 0;
		padding: 10px 0px;
		color: #fff;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 600;
	}
	.what_we_do_div .border-lr {
		padding: 00px 15px;
		border-left: 1px solid rgba(255, 255, 255, 0.0);
		border-right: 1px solid rgba(255, 255, 255, 0.0);
	}
	.what_we_do_div .card-div h3 {
		text-align: left;
		line-height: 1.4;
	}

	.who_we_are_section .whoweare-img {
		position: relative;
		float: none;
		top: 0;
		width: 100%;
		height: auto;
	}
	.who_we_are_div .right-div .red-line-left {
		margin: 15px 0 30px 0;
		width: 95px;
	}
	.our_philosophy_div .red-line {
		margin: 15px auto 30px auto;
		width: 95px;
	}
	.what_we_do_div .red-line {
		margin: 15px auto 30px auto;
		width: 95px;
	}
	.camera_wrap .camera_pag .camera_pag_ul {
		position: absolute;
		top: 80%;
	}
	.icon-scroll {
		top: 50%;
		margin-top: 10px;
	}
	.who_we_are_section .thinking-img {
		position: relative;
		float: none;
		top: 0;
		width: 100%;
		height: auto;;
	}
	.col-4{
		margin:0 0 30px 0;
		padding:0px 0;
	}
	.latest_blog_div .red-div {
		top: 0;
		right: 15px;
	}
	.footer-div .footer-top h3 {
		margin: 0px 0;
	}
	.nav-div .navbar-nav > li.active a {
		color: #000;
		border-bottom:0px solid #ca2027;
	}
	.navbar-collapse{
		overflow-y: auto;
		margin: 0px 0;
	}
	.nav-div .navbar-nav > li > a {
		padding: 10px;
		color: #000;
	}
	.logo-img {
		box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.25); z-index:9999;
	}
	.who_we_are_div .right-div {
		padding: 100px 100px 80px 80px;
		min-height: 575px;
	}
	.footer-div i.fab {
		padding: 10px 10px;
		margin: 0 4px 0 0;
	}
	/* end of middle container */
	
	.who_we_are_section, .who_we_are_div { height:auto;}
	
	.nav-div .navbar-nav {    margin: 0;    padding: 70px 0 20px 0;}
		
	.input-2 {
		width: 75%;
	}	
	.round-black-1 i {
		float: right;
		padding: 2px 10px 0 0;
	}
	
	/* blog */
	.our_portfolio_div .red-line {
		margin: 15px auto 50px auto;
	}
	.our_portfolio_div h2 {
		padding: 0px;
		text-align:center;
	}
	.latest_blog_div .span-6 {
		margin: 20px 0 0px 0;
	}
	.latest_blog_div .span-5 {
		min-height: 60px;
		max-height: 200px;
	}
	
	/* changes - 25/5 */
	.bg-eee{background-color:#eee;margin-top:80px;padding:80px 0 80px 0;}
	.our_philosophy_div {
		padding: 80px 0px 80px 0px;
	}
	.who_we_are_div .right-div {
		padding: 80px 15px 80px 15px;
	}
	.what_we_do_div {
		padding: 80px 15px 80px 15px;
	}
	.our_portfolio_div {
		padding: 80px 0px 0px 0px;
	}	
	.who_we_are_div .right-div h2 {
		text-align: center;
	}
	.who_we_are_div .right-div .red-line-left {
		margin: 15px auto 30px auto;
	}
	.btn-readmore {
		margin: 0 auto;
		display: block;
	}
	.our_portfolio_div .btn-view-center{
		margin: 0 auto;
		display: block;
	}

	.breadcrumb-p {
		padding: 35% 0% 0 0;
	}
	.property_div .middle-center {
		padding: 0 0px;
	}
	.property_div h3 span {
		padding: 10px 25px;
		display: inline-block;
		list-style: none;
	}
	.dot{padding: 0!important;display: none!important;}
	.property_div h3 {
		padding: 0 0px;
		line-height: 1.4;
	}
	.Quote_div .img-quote {
		left: 10px;
		top: -40px;
		width: 90px;
	}
	.fluid_container-all {
		height: 300px;
	}
	.pms-3_div .card-div h3 {
		margin: 0;
		padding: 15px 0px 15px 0;
		color: #2c3e50;
		font-size: 16px;
		line-height: 1.4;
	}
	.pms-3_div .p-group-div {
		height: 350px;
		margin: 0 0 20px 0;
		overflow-x: scroll;
		padding: 0;
		text-overflow: clip;
	}

	/***** blog page  ********/

	.top-head {
		margin: 0px 0;
		padding: 0 0 20px 0!important;
		text-align: center;
	}
	.breadcrumb-div {
		padding: 0px 0 0 0;
		margin: 0;
		display: inline-block;
	}
	.top-head {
		margin: 0px 0;
		padding: 10% 0 25px 0!important;
		text-align: center;
	}
	.sidebar-title {
		font-size: 16px!important;
		padding: 10px 0!important;
	}
	.property_section span.dot + span:before {
		background: transparent!important;
	}
	.tags-div .share-post {
		border-radius: 4px;
		padding: 0px 12px;
	}
	.author-box img {
		float: left;
		margin-right: 0;
		margin: 0px 0 20px 0;
		display: block;
		width: 100%;
	}

	.author-details {
		font-size: 13px;
		padding: 0 0;
		display: block;
		margin: 0 0;
		overflow: initial;
	}
	.property_div h3 {
		padding: 10px 0px;
		line-height: 1.4;
	}
	/***** end of blog page  ********/
}


@media only screen and (width: 980px){

}
@media only screen and (width: 1024px){
.container { width:100% !important;}
	html, body { overflow-x:hidden;}
	.canvas { margin:0!important; padding:0!important;}
	
	.nav-div .navbar-nav > li > a { padding:10px 8px; }
	
	
}
@media only screen and (min-width: 1024px) and (max-width: 1542px) {
	.who_we_are_div .right-div {
		margin: 0;
		padding: 43px 50px 40px 50px;
		/* overflow-y: scroll; */
		background-color: #333;
		color: #fff;
		height: 700px;
	}
	.pms-3_div .p-group-div {
		height: 375px;
		margin: 0;
		padding: 0;
		/* overflow-y: scroll; */
	}
}
@media only screen and (min-width: 900px) and (max-width: 1440px) {
	.who_we_are_div .right-div{margin: 0;padding: 20px 40px 0px 40px;background-color: #333;color: #fff;}
}

/* .scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}
.force-overflow
{
	min-height: 450px;
} */
/*
 *  STYLE 4
 */

#scroll-div::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
 
#scroll-div::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}
 
#scroll-div::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 1px solid #555555;
}

.padding-small{
padding: 40px 80px 0px 80px;
}

/* general */

.font-size-24{font-size: 24px!important;}
.font-size-18{font-size: 18px!important;}
.font-size-14{font-size: 14px!important;}


.pt-10{padding-top:10px!important;}
.pt-0{padding-top:0px !important;}

.border-tlr{border-top: 1px solid rgba(237, 237, 237, 0.4);border-left: 1px solid rgba(237, 237, 237, 0.4);border-right: 1px solid rgba(237, 237, 237, 0.4);}
/* .pt-10 a{color:#2c3e50;} */
